@import 'browsers';
@import 'helpers';

$textColor:#152d47;

$colorBlueGrey:#547483;
$colorCyan:#51bed2;
$colorPink:#ff7b84;
$colorCyanLight:#a8dee8;

$colorBlueDark:#152d47;

.button_text{
    position: relative;
    z-index: 1;
}