@import 'mixins/global';

$sidebarWidth:320px;

html, body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family: "roboto_slabregular";
    font-weight: 400;
    text-align: center;
    background: #A2DCE7;
    overflow: hidden;
}

#FakeAPITextarea{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100000;
    color: #333;
    background: #fff;
    width: 400px;
    height: 200px;
    display: none;
}

.sectionpage{
    @include transition((top), 0.6s, ease-in-out);
}

.sidebar{
    width: $sidebarWidth;
    background: #f9f9f7;
}

.page_content{
    position: absolute;
    left: $sidebarWidth;
    right: 0px;
    top: 0px;
}

.ui-autocomplete{
    text-align: left;
    color: $colorBlueDark;
    .ui-menu-item{
        text-transform: capitalize;
    }
}

.criterion_input[data-criterion="localisation"]{
    text-transform: capitalize;
}

*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #547483;
    opacity: 1;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #547483;
   opacity: 1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #547483;
   opacity: 1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #547483;
   opacity: 1;
}

.toggler{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    line-height: 24px;
    margin-top: 5px;
    .toggler_option{
        display: inline-block;
        vertical-align: top;
        width: 140px;
    }
    .toggler_toggle{
        display: inline-block;
        vertical-align: top;
        width: 40px;
        background: #fff;
        border-radius: 40px;
        height: 22px;
        position: relative;
        margin: 0 4px;
        cursor: pointer;
        .toggle_chip{
            background: $colorCyan;
            width: 18px;
            height: 18px;
            border-radius: 24px;
            position: absolute;
            top: 2px;
            @include transition((all), 0.3s, ease-in-out);
        }
    }
}

.criteria_col{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin: 0 10px;
    .criterion{
        text-align: left;
        margin-bottom: 20px;
        .criterion_title{
            border-top: 2px solid #74cbdb;
            border-bottom: 2px solid #74cbdb;
            font-size: 18px;
            color: #fff;
            padding: 4px 0;
            position: relative;
        }
        .criterion_input, .criterion_list{
            margin-top: 6px;
        }
        .criterion_input{
            width: 230px;
            height: 30px;
            border-radius: 5px;
            border:1px solid #547483;
            color: #547483;
            font-size: 14px;
            background-color: $colorCyan;
            padding: 0 10px;
            font-family: "roboto_slabregular";
            &.active{
                color: #fff;
                border-color:#fff;
            }
        }
        .criterion_list{
            .list_option{
                line-height: 30px;
                height: 30px;
                cursor: pointer;
                position: relative;
                .option_checkbox{
                    width: 19px;
                    height: 19px;
                    background: transparent;
                    border: 1px solid $colorBlueGrey;
                    position: relative;
                    display: inline-block;
                    border-radius: 5px;
                    vertical-align: middle;
                }
                .option_stars{
                    display: inline-block;
                    vertical-align: middle;
                    background: url("images/criteria/icon-star.svg") repeat-x 0 0;
                    background-size: 14px 14px;
                    width: 14px;
                    height: 14px;
                    &[data-stars="1"]{ width: 28px;}
                    &[data-stars="2"]{ width: 42px;}
                    &[data-stars="3"]{ width: 56px;}
                    &[data-stars="4"]{ width: 70px;}
                }
                .option_label{
                    vertical-align: middle;
                    font-size: 14px;
                    color: $colorBlueGrey;
                    display: inline-block;
                    margin-left: 5px;
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    @include transform(translate(0, -50%));
                }
                &[data-type="stars"]{
                    .option_label{
                        position: absolute;
                        left: 45%;
                        top: 0px;
                        @include transform(translate(0,0));
                    }
                }
                &:hover{
                    .option_checkbox{
                        border-color:#fff;
                    }
                    .option_stars{
                        background: url("images/criteria/icon-star-white.svg") repeat-x 0 0;
                        background-size: 14px 14px;
                    }
                    .option_label{
                        color: #fff;
                    }
                }
                &.selected{
                    .option_checkbox{
                        background: #fff;
                        border-color: #fff;
                        &:after{
                            content:"";
                            position: absolute;
                            left: 2px;
                            top: 0px;
                            background: url("images/criteria/icon-selectbox.svg") no-repeat 0 0;
                            background-size: 100% 100%;
                            width: 18px;
                            height: 14px;
                        }
                    }
                    .option_stars{
                        background: url("images/criteria/icon-star-white.svg") repeat-x 0 0;
                        background-size: 14px 14px;
                    }
                    .option_label{
                        color: #fff;
                    }
                }
            }
        }
    }
}

body[data-page="home"]{
    #Home{
        top: 0px;
    }
    #Search{
        top: 100%;
        visibility: hidden;
    }
    #Product{
        top: 100%;
        visibility: hidden;
    }
}

body[data-page="search"]{
    #Home{
        top: -100%;
    }
    #Search{
        top: 0px;
    }
    #Product{
        top: 100%;
    }
}

body[data-page="product"]{
    #Home{
        top: -100%;
    }
    #Search{
        top: -100%;
    }
    #Product{
        top: 0px;
    }
}