@import 'mixins/global';

$modalHeadHeight:200px;

.modal_container{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(21,45,71,0.8);
    z-index: 1000;
    display: none;
    &.displayed{
        display: block;
    }
    .mymodal{
        background: $colorCyan;
        color: #fff;
        border-radius: 20px;
        padding: 20px 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        max-width: 1090px;
        height: 100%;
        max-height: 580px;
        @include transform(translate(-50%, -50%));
        .modal_closebt{
            position: absolute;
            right: 14px;
            top: 20px;
            background: $colorBlueGrey;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            display: block;
            &:after{
                content:"";
                background: url("images/modale/icon-close-groupe_critere.svg") no-repeat center center;
                background-size: 100% 100%;
                position: absolute;
                left: 49%;
                top: 49%;
                width: 11px;
                height: 11px;
                @include transform(translate(-50%, -50%));
            }
        }
        .modal_head{
            text-align: center;
            height: $modalHeadHeight;
            .modal_head_logo{
                display: inline-block;
                width: 100px;
                height: 25px;
                background: url("images/logo-noomen.svg") no-repeat 0 0;
            }
            .modal_head_title{
                font-size: 28px;
                color: #fff;
                font-family: "roboto_slabbold";
                margin-top: 10px;
            }
            .modal_head_toggler{
                margin-top: 10px;
                .toggler_option{
                    &.option_featured{
                        text-align: right;
                    }
                    &.option_all{
                        text-align: left;
                    }
                }
                &[data-option="featured"]{
                    .toggle_chip{
                        left: 2px !important;
                    }
                    .option_perso{
                        color: $colorCyanLight;
                    }
                }
                &[data-option="all"]{
                    .toggle_chip{
                        left: 18px !important;
                    }
                    .option_pro{
                        color: $colorCyanLight;
                    }
                }
            }
            .modal_head_searchbar{
                border-top:1px solid #74cbdb;
                border-bottom:1px solid #74cbdb;
                margin-top: 20px;
                padding: 10px 0;
                position: relative;
                height: 50px;
                text-align: left;
                .searchbar_title{
                    color: #fff;
                    font-size: 18px;
                    font-family: "robotoregular";
                }
                .searchbar_search{
                    position: absolute;
                    right: 0px;
                    top: 10px;
                    .searchbar_input{
                        background: #fff;
                        border: 0px solid;
                        border-radius: 20px;
                        width: 200px;
                        height: 25px;
                        font-size: 14px;
                        display: inline-block;
                        vertical-align: top;
                        padding: 0 10px;
                        color: $textColor;
                    }
                    .searchbar_searchbt{
                        width: 25px;
                        height: 25px;
                        background: #547483;
                        border-radius: 25px;
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        cursor: pointer;
                        &:after{
                            content:"";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            @include transform(translate(-50%, -50%));
                            background: url("images/modale/icon-search.svg") no-repeat 0 0;
                            background-size: 100% 100%;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }

        .modal_overflowcontent{
            position: absolute;
            top: $modalHeadHeight + 20;
            bottom: 80px;
            overflow: auto;
            left: 20px;
            right: 20px;
            .modal_criteria{
                .criteria_col{
                    .modal_criterion{
                        .criterion_title{
                            position: relative;
                            cursor: pointer;
                            .criterion_title_togglebt{
                                cursor: pointer;
                                position: absolute;
                                right: 5px;
                                top: 50%;
                                width: 15px;
                                height: 11px;
                                @include transform(translate(0,-50%) rotate(180deg));
                                background: url("images/modale/icon-open-groupe_critere.svg") no-repeat 0 0;
                                background-size: 100% 100%;
                            }
                        }
                        &[data-toggle="true"]{

                        }
                        &[data-toggle=false]{
                            .criterion_title{
                                .criterion_title_togglebt{
                                    @include transform(translate(0,-50%) rotate(0deg));
                                    background: url("images/modale/icon-open-groupe_critere.svg") no-repeat 0 0;
                                    background-size: 100% 100%;
                                    width: 15px;
                                    height: 11px;
                                }
                            }
                            .criterion_input{ display: none;}
                            .criterion_list{ display: none;}
                        }
                    }
                    .list_option{
                        height: 44px;
                        line-height: 44px;
                        .option_label{
                            font-size: 13px;
                            line-height: 17px;
                        }
                        &[data-type="stars"]{
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
                &[data-choice="featured"]{
                    .list_option[data-featured="false"]{
                        display: none;
                    }
                }
            }
        }

        .modal_criteria_searchresults{
            display: block;
            text-align: left;
            .searchresults_nodata{
                display: none;
                color: $textColor;
                &.displayed{
                    display: block;
                }
            }
        }

        .modal_overflowcontent_opacifier{
            position: absolute;
            left: 0px;
            bottom: 80px;
            width: 100%;
            height: 40px;
            background: rgb(82,191,211); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(82,191,211,0) 0%, rgba(82,191,211,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(82,191,211,0) 0%,rgba(82,191,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(82,191,211,0) 0%,rgba(82,191,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52bfd3', endColorstr='#52bfd3',GradientType=0 ); /* IE6-9 */
        }

        .modal_okbt{
            display: inline-block;
            position: absolute;
            bottom: 20px;
            cursor: pointer;
            left: 50%;
            width: 140px;
            height: 40px;
            background: #fff;
            border-radius: 10px;
            color:$colorBlueDark;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 20px;
            font-family: "robotoregular";
            @include transform(translate(-50%, 0));
            &:hover{
                opacity: .5;
                text-decoration: none;
            }
        }

        .modal_mobileblock{
            display: none;
        }
    }

    &#HelpModalContainer{
        background: #547483;
        .mymodal{
            background: transparent;
            text-align: center;
            .help_logo{
                background: url("images/logo-noomen.svg") no-repeat 0 0;
                background-size: 100% 100%;
                width: 100px;
                height: 25px;
                display: inline-block;
            }
            .help_title{
                font-size: 40px;
                font-family: "roboto_slabbold";
                margin-top: 20px;
            }
            .help_subtitle{
                font-size: 20px;
                line-height: 24px;
                margin-top: 40px;
            }
            .help_tuto{
                width: 800px;
                height: 230px;
                background: #fff;
                border-radius: 40px;
                display: inline-block;
                position: relative;
                text-align: center;
                margin-top: 20px;
                .tuto_title{
                    font-size: 24px;
                    color: $textColor;
                    display: inline-block;
                    margin-top: 20px;
                }
                .tuto_selectbox{
                    width: 200px;
                    height: 24px;
                    font-size: 13px;
                    margin-top: 20px;
                    line-height: 22px;
                    color: $textColor;
                    display: block;
                    border-radius: 5px;
                    position: relative;
                    left: 50%;
                    @include transform(translate(-50%, 0));
                    border:1px solid $textColor;
                    &:before{
                        content:"";
                        position: absolute;
                        left: 10px;
                        top: 3px;
                        background: url("images/criteria/icon-star-blue.svg") no-repeat 0 0;
                        background-size: 100% 100%;
                        width: 14px;
                        height: 14px;
                    }
                }
                .tuto_gif_container{
                    position: relative;
                    width: 400px;
                    top: 20px;
                    left: 50%;
                    @include transform(translate(-50%, 0));
                    .tuto_gif{
                        position: relative;
                        width: 260px;
                    }
                    .tuto_gif_label{
                        font-size: 16px;
                        position: absolute;
                        top: 18px;
                        &.tuto_gif_label_left{
                            color: #51bed2;
                            left: -50px;
                        }
                        &.tuto_gif_label_right{
                            color: #f04170;
                            right: -14px;
                        }
                    }
                }
                
            }
            .help_bt{
                width: 200px;
                height: 50px;
                color: #547483;
                background: #fff;
                line-height: 50px;
                display: block;
                text-align: center;
                border-radius: 10px;
                text-decoration: none;
                font-family: "robotobold";
                font-size: 20px;
                position: relative;
                left: 50%;
                @include transform(translate(-50%, 0));
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }
}

#SearchModal[data-searching="false"]{
    .modal_criteria_searchresults{
        display: none;
    }
}

#SearchModal[data-searching="true"]{
    .modal_criteria{
        display: none;
    }

    .modal_head .modal_head_searchbar .searchbar_search .searchbar_searchbt{
        &:after{
            background: url("images/modale/icon-close-groupe_critere.svg") no-repeat 48% 48%;
        }
    }
}