@import 'mixins/global';

$visuelHeight:370px;

#Product{
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    background: #fff;
    @include transform(translate(-50%, 0));
    #ProductSidebar{
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background: #547483;
        .sidebar_cartridge{
            background: $colorBlueGrey;
            color: #fff;
            height: 145px;
            position: relative;
            .cartridge_logo{
                background: url("images/logo-noomen.svg") no-repeat 0 0;
                background-size: 100% 100%;
                width: 200px;
                height: 50px;
                position: absolute;
                left: 20px;
                top: 20px;
                cursor: pointer;
            }
        }
        .sidebar_calltoselection{
            background: #fff;
            height: 40px;
            line-height: 40px;
            .sidebar_calltoselection_bt{
                color: $colorBlueDark;
                font-size: 17px;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .sidebar_featurencart{
            position: absolute;
            left: 0px;
            top: 185px;
            background: transparent;
            border: 4px solid $colorBlueDark;
            z-index: 100;
            pointer-events:none;
            width: 100%;
            height: 80px;
        }
        .sidebar_list{
            position: absolute;
            left: 0px;
            width: 100%;
            top: 185px;
            bottom: 0px;
            overflow: auto;
            .list_item{
                background: #6e9cce;
                height: 80px;
                cursor: pointer;
                color: #fff;
                font-family: "roboto_light";
                position: relative;
                text-align: left;
                &:before{
                    content:"";
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 100%;
                    height: 1px;
                    z-index: 10;
                    background: #547483;
                }
                /*&:last-child{
                    margin-bottom: 220%;
                }*/
                &[data-rank="top"]{
                    background: $colorCyan;
                }
                .item_text{
                    position: absolute;
                    left: 40px;
                    top: 50%;
                    @include transform(translate(0, -50%));
                    .item_label{
                        font-size: 20px;
                    }
                    .item_desc{
                        font-size: 14px;
                    }
                }
                &:after{
                    content:"";
                    display: none;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    background: url("images/product/icon-selected-item.svg") no-repeat 0 0;
                    background-size: 100% 100%;
                    width: 10px;
                    height: 20px;
                    @include transform(translate(0, -50%));
                }
                &:hover, &.selected{
                    color: $colorBlueDark;
                    &:after{
                        display: block;
                    }
                }
            }
        }
    }

    #ProductContent{
        text-align: left;
        margin: 0 14px 0;
        height: 100%;
        .product_calltosearch_bt{
            font-size: 13px;
            color: $colorBlueDark;
            display: block;
            text-decoration: none;
            position: relative;
            padding-left: 46px;
            height: 40px;
            line-height: 34px;
            cursor: pointer;
            margin-top: 14px;
            &:before{
                content:"";
                position: absolute;
                left: 0px;
                width: 35px;
                height: 35px;
                border-radius: 35px;
                background: url("images/product/icon-back.svg") no-repeat center center $colorBlueDark;
            }
            &:hover{
                text-decoration: none;
                opacity: .5;
            }
        }
        #ProductOverflow{
            overflow: auto;
            position: absolute;
            top: 60px;
            bottom: 10px;
            background: #547483;
        }
        .product_visuel{
            width: 100%;
            height: $visuelHeight;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto;
        }
        .product_infos{
            position: relative;
            left: 0px;
            width: 100%;
            .product_infos_text{
                background: $colorCyan;
                height: 100%;
                float: left;
                width: 50%;
                color: #fff;
                position: relative;
                .product_infos_text_wrapper{
                    margin: 30px 30px 90px;
                }
                .infos_text_title{
                    font-size: 28px;
                    font-family: "roboto_light"
                }
                .infos_text_desc{
                    font-size: 13px;
                    line-height: 16px;
                    border-top: 1px solid #7dcedd;
                    border-bottom: 1px solid #7dcedd;
                    padding: 10px 0;
                    margin-top: 14px;
                    font-family: "robotoregular";
                }
                .infos_text_bookbt{
                    display: block;
                    background: $colorBlueDark;
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    width: 110px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 14px;
                    border-radius: 10px;
                    text-align: center;
                    position: relative;
                    text-indent: 10px;
                    margin: 10px 0;
                    font-family: "robotoregular";
                    &:before{
                        position: absolute;
                        content: "";
                        left: 10px;
                        top: 50%;
                        background: url("images/tuile/icon-reserver.svg") no-repeat 0 0;
                        background-size: 100% 100%;
                        width: 14px;
                        height: 12px;
                        @include transform(translate(0, -50%));
                    }
                    &:hover{
                        background: #fff;
                        text-decoration: none;
                        color: $colorBlueDark;
                        &:before{
                            background: url("images/tuile/icon-reserver-blue.svg") no-repeat 0 0;
                            background-size: 100% 100%;
                        }
                    }
                }
                .infos_text_criteria{
                    margin-top: 14px;
                    font-size: 12px;
                    line-height: 15px;
                    font-family: "robotobold";
                    border: 1px dashed #7dcedd;
                    padding: 10px;
                    overflow: auto;
                    width: 100%;
                    height: 190px;
                }
                .infos_text_arrows{
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                    .arrow{
                        background: $colorBlueDark;
                        width: 35px;
                        height: 35px;
                        border-radius: 35px;
                        position: relative;
                        display: inline-block;
                        margin-left: 30px;
                        cursor: pointer;
                        &:after{
                            content:"";
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 35px;
                            height: 35px;
                        }
                        .arrow_label{
                            color: $colorBlueDark;
                            font-size: 13px;
                            position: absolute;
                            left: 50%;
                            top: 42px;
                            @include transform(translate(-50%, 0));
                        }
                        &.arrow_prev{
                            &:after{
                                background: url("images/product/icon-prev-item.svg") no-repeat 0 0;
                                background-size: 100% 100%;
                            }
                        }
                        &.arrow_next{
                            &:after{
                                background: url("images/product/icon-next-item.svg") no-repeat 0 0;
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }
            .product_infos_graph{
                background: #547483;
                height: 100%;
                float: left;
                width: 50%;
                color: #fff;
                text-align: center;
                position: relative;
                .infos_graph_title{
                    font-size: 20px;
                    font-family: "roboto_light";
                    margin-top: 30px;
                    position: relative;
                    z-index: 10;
                }
                #ProductChart{
                    max-width: 400px;
                    width: 90%;
                    height: 400px;
                    position: absolute;
                    left: 50%;
                    top: 80px;
                    @include transform(translate(-50%, 0));
                    .highcharts-yaxis-grid{
                        .highcharts-grid-line{
                            stroke-dasharray:5px 5px;
                        }
                    }
                }
            }
        }
    }
}