@import 'mixins/global';

@media only screen and (min-width: 1281px){
    #Search #SearchContent .content_map .map_head .map_head_perimeter{
        width: 235px;
        .mar_head_perimeter_label{
            display: inline-block;
        }
        &:after{
            left: 238px;
        }
    }

    .tuile{
        width: 298px;
    }
}

@media only screen and (min-width: 1023px) and (max-width:1281px){

    #Search{
        max-width: 1024px !important;
    }

    #Product{
        max-width: 1024px !important;
        #ProductContent .product_infos .product_infos_graph #ProductChart{
            width: 70%;
            height: 300px;
        }
    }
}

@media only screen and (max-width: 1023px){
    #Search #SearchContent .content_map .map_head .map_head_hidebt .hidebt_show{
        .hidebt_label{
            display: none;
        }
    }

    .results_top .top_list{
        .tuile:nth-child(3){
            margin: 10px 10px 0px 0;
        }
    }

    .results_other{
       // top: 1060px;
    }
}

@media only screen and (max-width: 793px){
    html, body{
        height: auto;
        overflow: initial;
        background: #fff;
    }

    .hide_mobile{
        display: none;
    }

    #Home{
        overflow: initial;
        height: auto;
        position: relative;
        padding-bottom: 100px;
        .home_mobileblock{
            display: block;
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 75px;
            left: 0px;
            z-index: 1000;
            background: #44576c;
            .home_criteriabt{
                color: #fff;
                position: relative;
                display: inline-block;
                top: 48px;
                cursor: pointer;
                opacity: .5;
                &:before{
                    position: absolute;
                    content:"";
                    left: 50%;
                    top: -40px;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background: url("images/mobile/icon-importance_critere.svg") no-repeat center center #fff;
                    @include transform(translate(-50%, 0));
                }
                &:hover{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .home_mobileblock_nbhotels{
            position: fixed;
            bottom: 75px;
            width: 100%;
            height: 34px;
            line-height: 34px;
            color: #fff;
            display: block;
            left: 0px;
            background: $colorPink;
            .nbhotels_figure{

            }
        }
        #HomeContent{
            padding-bottom: 120px;
            .home_validbt{
                display: none;
            }
        }
    }

    #Product{
        display: none;
    }

    #Search{
        display: none;
        position: relative;
        height: auto;
        overflow: initial;
    }

    .criteria_col{
        width: 90%;
        .criterion{
            .criterion_title{
                font-size: 18px;
            }
        }
    }

    .toggler{
        .toggler_option{
            width: 100px;
            text-transform: capitalize;
        }
    }

    .tuile{
        width: 100%;
        margin: 0 0 10px;
        min-height: 333px;
        .tuile_content{
            &:after{
                display: none;
            }
            .tuile_criteria{
                display: none;
            }
            .tuile_criteriamobile{
                display: block;
                margin-top: 10px;
            }
        }
        .tuile_enterbt{
            display: none;
        }
        &[data-infos="criteriamobile"]{
            .tuile_criteria{
                display: block;
            }
            .tuile_moreinfos{
                display: none;
            }
            .tuile_content .tuile_criteriamobile .criteriamobile_text .crtieriamobile_detailsbt{
                &:after{
                    background:url("images/tuile/icon-close-infos_utile.svg") no-repeat 0 0; 
                    width: 6px;
                    height: 6px;
                }
            }
        }
        &:hover{
            background: $colorCyan;
            .tuile_book{
                border-color:#7dcedd;
            }
            .tuile_content{
                &:after{
                    background: #7dcedd;
                }
            }
        }
    }

    .modal_container{
        .mymodal{
            position: relative;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-height: none;
            border-radius: 0;
            @include transform(translate(0,0));
            .modal_closebt{
                right: 7px;
                top: 6px;
            }
            .modal_head{
                .modal_head_title{
                    font-size: 25px;
                }
                .modal_head_searchbar{
                    margin-top: 10px;
                    .searchbar_title{
                        display: none;
                    }
                    .searchbar_search{
                        left: 50%;
                        @include transform(translate(-50%, 0));
                        width: 235px;
                    }
                }
            }
            .modal_mobileblock{
                display: block;
                position: fixed;
                bottom: 0px;
                width: 100%;
                height: 75px;
                left: 0px;
                z-index: 1000;
                background: #44576c;
                .modal_criteriabt{
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    top: 48px;
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        content:"";
                        left: 50%;
                        top: -40px;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        background: url("images/mobile/icon-importance_critere.svg") no-repeat center center #fff;
                        @include transform(translate(-50%, 0));
                    }
                    &:hover{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .modal_mobileblock_nbhotels{
                position: fixed;
                bottom: 75px;
                width: 100%;
                height: 34px;
                line-height: 34px;
                color: #fff;
                display: block;
                left: 0px;
                background: $colorPink;
                .nbhotels_figure{

                }
            }
            &#SearchModal{
                padding: 10px;
                .modal_closebt{
                    z-index: 1000;
                }
                .overflow_mobile{
                    overflow: auto;
                    left: 0px;
                    position: absolute;
                    top: 0px;
                    bottom: 110px;
                    .modal_head{
                        margin-top: 10px;
                    }
                }
                .modal_okbt{ display: none;}
                .modal_overflowcontent{
                    top: 0px;
                    left: 0px;
                    bottom: auto;
                    overflow: initial;
                    position: relative;
                }
                .modal_overflowcontent_opacifier{
                    display: none;
                }
            }
        }
        &#SearchModalContainer{
            top: 50px;
            bottom: 0px;
            height: auto;
        }
    }

    #Home{
        #HomeContent{
            top: 80px;
            position: relative;
            @include transform(translate(-50%, 0));
            .home_title{
                font-size: 25px;
            }
            .home_choice{
                margin-top: 20px;
                font-size: 13px;
                width: 100%;
            }
            .home_validbt{
                margin: 20px 0;
            }
        }
    }

    #SearchContentMobileMenu{
        display: block;
        position: fixed;
        background: #44576c;
        width: 100%;
        height: 75px;
        left: 0px;
        bottom: 0px;
        z-index: 100;
    }

    #SidebarCriteriaMobileActions{
        width: 100%;
        height: 109px;
        background: #44576c;
        vertical-align: middle;
        text-align: center;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 200;
        display: block;
        .sidebar_mobile_nbhotels{
            background: $colorPink;
            height: 34px;
            width: 100%;
            position: relative;
            left: 0px;
            top: 0px;
            color: #fff;
            line-height: 34px;
            text-align: center;
        }
    }

    .mobile_action{
        position: relative;
        display: inline-block;
        vertical-align: top;
        top: 10px;
        padding-top: 40px;
        cursor: pointer;
        margin: 0;
        color: #fff;
        font-size: 12px;
        width: 136px;
        text-decoration: none;
        text-align: center;
        &:before{
            content:"";
            position: absolute;
            top: 0px;
            left: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            @include transform(translate(-50%, 0));
        }
        &:hover{
            color: #fff;
            text-decoration: none;
        }
        &.mobile_action_seeresults{
            &:before{
                background-image:url("images/mobile/icon-list-view-blue.svg");
                background-size: 25px 25px;
            }
        }
        &.mobile_action_addcriteria{
            &:before{
                background-image:url("images/mobile/icon-more_critere.svg");
                background-size: 100% 100%;
            }
        }
        &.mobile_action_seecriteria{
            &:before{
                background-image:url("images/mobile/icon-importance_critere.svg");
                background-size: 40px 40px;
            }
        }
    }

    #SearchHeadMobile{
        position: fixed;
        display: block;
        left: 0px;
        top: 0px;
        height: 50px;
        background: #547483;
        width: 100%;
        z-index: 50;
        .sidebar_burgermenu{
            position: absolute;
            display: block;
            background: url("images/mobile/icon-menu.svg") no-repeat 0 0;
            background-size: 100% 100%;
            width: 20px;
            height: 20px;
            left: 15px;
            top: 15px;
            cursor: pointer;
        }
        .cartridge_logo{
            width: 100px;
            height: 25px;
            top: 13px;
            left: 60px;
            background: url("images/logo-noomen.svg") no-repeat 0 0;
            background-size: 100% 100%;
            position: absolute;
            cursor: pointer;
        }
    }

    #Search{
        #SearchSidebar{
            position: relative;
            height: 50px;
            width: 100%;
            .sidebar_burgermenu{
                display: block;
            }
            .sidebar_cartridge{
                position: relative;
                height: 50px;
                .cartridge_logo{
                    display: none;
                }
                .cartridge_content{
                    display: none;
                }
            }
            .sidebar_criteria{
                display: none;
                z-index: 1000;
                background: #f0efee;
                top: 50px;
                bottom: auto;
                position: absolute;
                padding-bottom: 110px;
                .sidebar_criteria_mobile_title{
                    display: block;
                    height: 100px;
                    width: 100%;
                    color: #fff;
                    background: #658290;
                    .sidebar_criteria_mobile_title_big{
                        font-size: 18px;
                        padding-top: 2px;
                    }
                    .sidebar_criteria_mobile_title_small{
                        font-size: 14px;
                        padding: 0 20px;
                    }
                }
                .cartridge_helpbt{
                    color: #fff;
                    text-decoration: none;
                    margin-top: 8px;
                    font-size: 12px;
                    display: inline-block;
                    cursor: pointer;
                    padding-left: 23px;
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        background: url("images/btn-tuto.svg") no-repeat 0 0;
                        background-size: 100% 100%;
                        width: 17px;
                        height: 17px;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .sidebar_criteria_addbt{
                    display: none;
                }
                .sidebar_criteria_list{
                    position: relative;
                    top: 0px;
                    width: 100%;
                    .criterion_select{
                        /*width: 90%;*/
                    }
                    .criterion_slider{
                        /*width: 90%;*/
                    }
                }
            }
        }
        .search_mobilemenu{
            display: block;
            color: #fff;
        }
        #SearchContent{
            position: relative;
            left: 0px;
            padding: 0px;
            overflow: initial;
            .content_map{
                display: none;
                margin:0;
                width: 100%;
                .map_head{
                    height: 120px;
                    .map_head_perimeter{ display: none;}
                    .map_head_hidebt{ display: none;}
                    .map_head_search{
                        width: 100%;
                        padding: 0;
                        text-align: center;
                        .map_head_search_mobilelabel{
                            display: block;   
                            line-height: 30px;
                        }
                        .head_search_input{
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .head_search_aroundmebt{
                            display: block;
                            position: relative;
                            width: 130px;
                            left: 50%;
                            line-height: 30px;
                            margin-left: -10px;
                            @include transform(translate(-50%, 0));
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
                #SearchMap{

                }
            }
            .content_results{
                padding: 10px 10px 80px 10px;
                .results_top{
                    h1{
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .results_other{
                    position: relative;
                    top: 0px;
                    left: 0px;
                    h2{
                        text-align: center;
                        font-size: 16px;
                    }
                    .other_tuile{
                        margin: 0 0 10px;
                        width: 100%;
                        min-height: 280px;
                        &:hover{
                            background: #6e9cce;
                            .tuile_book{
                                border-color:#92b5da;
                            }
                            .tuile_content{
                                &:after{
                                    background: #92b5da;
                                }
                            }
                        }
                    }
                }
            }
        }
        &[data-mobilemap="true"]{
            .mobilemenu_link_map{
                opacity: 1;
            }
            .mobilemenu_link_list{
                opacity: .5;
            }
            #SearchContent{
                .content_map{
                    display: block;
                }
                .content_results{
                    display: none;
                }
            }
        }
        &[data-mobilemap="false"]{
            .mobilemenu_link_map{
                opacity: .5;
            }
            .mobilemenu_link_list{
                opacity: 1;
            }
        }
        &[data-burgered="true"]{
            #SearchSidebar{
                .sidebar_criteria{
                    display: block;
                }
            }
            #SearchContent{
                height: 100px;
                overflow: hidden;
            }
        }
    }

    #HelpModalContainer.modal_container{
        #HelpModal.mymodal{
            padding: 10px;
            .help_title{
                font-size: 25px;
                line-height: 42px;
                margin-top: 0px;
            }
            .help_subtitle{
                font-size: 16px;
                line-height: 20px;
                margin-top: 10px;
            }
            .help_tuto{
                width: 100%;
                height: 180px;
                .tuto_title{
                    font-size: 14px;
                    margin-top: 10px;
                }
                .tuto_selectbox{
                    margin-top: 10px;
                }
                .tuto_gif_container{
                    width: 300px;
                    .tuto_gif{
                        width: 240px;
                    }
                    .tuto_gif_label{
                        display: none;
                    }
                }
            }
        }
    }

    #Product{
        #ProductSidebar{
            width: 100%;
            .sidebar_cartridge{
                height: 50px;
            }
            .sidebar_featurencart{
                top: 90px;
            }
            .sidebar_list{
                top: 90px;
            }
        }
        #ProductContent{
            display: none;
        }
    }


    body[data-page="home"]{
        #Home{
            display: block;
            &[data-valid="true"]{
                .home_criteriabt{
                    opacity: 1;
                }
            }
        }
        #Search{
            display: none;
        }
        #Product{
            display: none;
        }
        #SearchContentMobileMenu{
            display: none;
        }
    }

    body[data-page="search"]{
        #Home{
            display: none;
        }
        #Search{
            display: block;
        }
        #Product{
            display: none;
        }
        &[data-burgered="true"]{
            #SearchContentMobileMenu{
                display: none;
            }
            #SidebarCriteriaMobileActions{
                display: block;
            }
        }
        &[data-burgered="false"]{
            #SidebarCriteriaMobileActions{
                display: none;
            }
        }
    }

    body[data-page="product"]{
        #Home{
            display: none;
        }
        #Search{
            display: none;
        }
        #Product{
            display: block;
        }
        #SearchContentMobileMenu{
            display: none;
        }

        #SidebarCriteriaMobileActions{
            display: none;
        }
    }
}